# Database Configuration
DB_NAME=yourDatabase
DB_USER=yourUser
DB_PASSWORD=yourPassword

# Redis Configuration
REDIS_PORT=6379

# Backend Configuration
SERVER_PORT=8080

# Frontend Configuration
CLIENT_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:8080
